.join-us {
    background-color: #ffd8e5;
}

.join-us .joinus-img img{
    width: 100%;
    height: 700px;
    border-radius: 0 0 20rem 20rem;
}

.join-us .joinus-content h1 {
    margin: 3rem 0;
    font-weight: 600;
}

.join-us .joinus-content p {
    font-size: 1.4rem;
    padding: 0 10%;
    margin: 2rem 0;
}

.join-us .joinus-content .heading {
    color: #0b8aff;
}

.join-us .joinus-content button {
    padding: 6px 26px;
    margin: 2rem 0;
    color: white;
    background-color: #0b8aff;
    border: none;
    font-weight: 600;
    border-radius: 1rem;
    font-size: 1.4rem;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.641);
}