body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.hero {
  background-color: rgb(250, 243, 248);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero h2,h1,p {
  margin: 0;
}

.hero .hero-content {
  display: flex;
  flex-direction: column;
  row-gap: 1px;
  padding: 8rem 0 5rem 50px;
}

.hero .hero-content h2{
  font-weight: 700;
}

.hero .hero-content h1{
  font-size: 5rem;
}
.hero .hero-content p {
  width: 400px;
  color: rgb(109, 107, 107);
}

.hero .hero-content button {
  padding: 4px 8px;
  font-size: 1.2rem;
  background-color: rgb(252, 57, 57);
  border-radius: 0.9rem;
  font-weight: 600;
  border-width: 0;
  width: 180px;
  box-shadow: 0px 0px 10px 1px black;
}